.banner_ {
    width: 100%;
    position: relative;
    font-size: 0;
    overflow: hidden;
    border-bottom: 1px solid;
}
.banner_ td img {
    *max-width: 100%;
}
.banner_  table {
    width: 800%;
    /*overflow: hidden;*/
}
.banner_  table a {
    display: block;
}
.banner_  div {
    position: absolute;
    bottom: 3%;
    width: 100%;
    text-align: center;
}
.banner_ div span {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 1%;
    background: url(res/icon-1.gif) no-repeat center center;
}
.banner_ div span.current {
    background-image: url(res/icon-2.gif);
}
.c-1_ {
    height: 218px;
    margin: 50px 0;
}
.c-1_ td {
    width: 32%;
    vertical-align: bottom;
    background: url(res/icon-3.gif) no-repeat top center;
    /*padding: 100px 0 0 0;*/
}
.c-1_ td.middle {
    padding-left: 2%;
    padding-right: 2%;
}
.c-1_ h4 {
    text-align: center;
    font-size: 1.4em;
    color: #555;
}
td.c-1-2_ {
    background-image: url(res/icon-4.gif);
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}
td.c-1-3_ {
    background-image: url(res/icon-5.gif);
}
.c-2_ {
    border-top: 1px solid;
    border-bottom: 1px solid;
    background-color: #fff;
}
.c-2_ .warp, .c-3_ .warp {
    position: relative;
    height: 59px;
    line-height: 59px;
    background: url(res/icon-6.gif) no-repeat left center;
}
.c-2-1_, .c-3_ .see-more {
    position: absolute;
    right: 0;
    top: 0;
}
.c-2-2_ {
    margin-right: 4em;
}
.c-3_ {
    background-color: #fff;
    color: #333;
    font-size: 1.14em;
}
.c-3_ .warp {
    background: none;
}
.c-4_ {
    line-height: 3em;
    background-color: #fff;
}
.c-4_ table {
    border-top: 1px solid #0085be;
}
.c-4_ th {
    background-color: #efefef;
    color: #888;
}
.c-4_ td {
    /*width: 8%;*/
}
.c-4_ .short {
    width: 2em;
}
.c-4_ td:hover {
    color: #0085be;
}
.c-4_ td img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
.c-4_ .progress_ {
    width: 137px;
}
.c-4_ .progress {
    margin: 0 auto;
    *width: 300px;
}
.c-4_ .num_ {
    width: 20%;
}
.c-4_ .name_ {
    width: 12%;
}
th.progress_ {
    with: auto;
    text-indent: -2em;
}
