.hidden {
    display: none;
}
.steps {
    height: 45px;
    margin-bottom: 95px;
    border-bottom: 2px solid #e3e3e3;
}
.steps .warp {
    position: relative;
}
.steps ul {
    position: absolute;
    top: 25px;
    left: 115px;
    width: 720px;
    margin: 0 auto;
}
.steps ul li {
    float: left;
    width: 180px;
    text-align: center;
}
.steps ul li span {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    color: #fff;
    background: url(res/step.png) no-repeat;
}
.steps ul li p {
    height: 43px;
    line-height: 43px;
    font-size: 14px;
    font-weight: bold;
    color: #888;
}
.steps ul li.step-on span {
    background: url(res/step-on.png) no-repeat;
}
.steps ul li.step-on p {
    color: #0083be;
}
/*申请条件*/
.conditions ul {
    overflow: hidden;
    width: 840px;
    margin: 50px auto 40px;
}
.conditions ul li {
    float: left;
    width: 210px;
    text-align: center;
}
.conditions ul li span {
    display: inline-block;
    width: 115px;
    height: 115px;
    background-image: url(res/icon7.png);
    background-repeat: no-repeat;
}
.conditions ul li span.cond01 {
    background-position: 0px 0px;
}
.conditions ul li span.cond02 {
    background-position: -132px 0px;
}
.conditions ul li span.cond03 {
    background-position: -262px 0px;
}
.conditions ul li span.cond04 {
    background-position: -397px 0px;
}
.wylc ul li {
    width: 209px;
    border-right: 1px solid #d3d3d3;
}
.wylc ul li.last {
    width: 210px;
    border: none;
}
.wylc ul li span {
    width: 73px;
    height: 52px;
    background-image: url(res/icon-lc.png);
}
.wylc ul li span.cond01 {
    background-position: 0px 0px;
}
.wylc ul li span.cond02 {
    background-position: -73px 0px;
}
.wylc ul li span.cond03 {
    background-position: -146px 0px;
}
.wylc ul li span.cond04 {
    background-position: -219px 0px;
}
.wylc ul li h1 {
    color: #333;
    line-height: 2em;
}
.conditions ul li p {
    height: 43px;
    line-height: 43px;
    font-size: 14px;
    color: #888;
}
/*申请材料*/
.data ul {
    overflow: hidden;
    width: 864px;
    margin: 50px auto 40px;
}
.data li {
    float: left;
    width: 116px;
    margin: 0 50px;
    text-align: center;
}
.data li img {
    width: 110px;
    height: 142px;
    padding: 2px;
    border: 1px solid #d3d3d3;
    cursor: pointer;
}
.data li p {
    margin-top: 20px;
    font-size: 14px;
    color: #888;
    cursor: pointer;
}
/*贷款方式及费用*/
.fees {
    margin-bottom: 0;
}
.fees .menu a {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding-left: 25px;
    color: #0083be;
    background: url(res/cal.png) no-repeat left center;
}
.fees .info {
    padding: 50px;
    font-size: 14px;
    background: url(res/fees-bg.jpg) no-repeat right bottom;
}
.fees .info dl {
    overflow: hidden;
    width: 260px;
    margin: 0 auto;
    line-height: 32px;
}
.fees .info dt {
    float: left;
    width: 90px;
    border-bottom: 1px solid #d3d3d3;
    color: #888;
}
.fees .info dd {
    float: left;
    width: 170px;
    border-bottom: 1px solid #d3d3d3;
    color: #333;
}
.fees .info .green-btn {
    display: block;
    margin: 50px auto 0;
}
/*在线申请*/
.loan-form {
    width: 446px;
    margin: 50px auto;
}
.loan-form dt {
    float: left;
    width: 100px;
    height: 42px;
    margin-bottom: 20px;
    line-height: 42px;
}
.loan-form dd {
    position: relative;
    float: left;
    width: 346px;
    height: 42px;
    margin-bottom: 20px;
    line-height: 42px;
}
.loan-form dd .input-txt {
    width: 325px;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    border: none;
    background: url(res/input-bg.gif) no-repeat;
}
.loan-form dd span.error {
    position: absolute;
    left: 360px;
    width: 200px;
    top: 0px;
    font-size: 14px;
    color: #f51414;
}
.loan-form dd span.Validform_right {
    display: none;
}
.loan-form dd label {
    margin-right: 35px;
}
.loan-form dd label input {
    margin-right: 10px;
}
#res {
    display: none;
}
.loan-form select {
    width: 160px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #d3d3d3;
    padding: 10px 0;
}
.loan-form select.use {
    width: 345px;
}
.btns a, .btns a:hover {
    font-size: 14px;
    color: #333;
}
.btns {
    width: 200px;
    padding-left: 100px;
    line-height: 32px;
    text-align: center;
}
.btns button {
    width: 200px;
    margin-bottom: 10px;
    border: none;
    background: url(res/big-green-btn.png) no-repeat;
    cursor: pointer;
}
/*开心店*/
.new-shop {
    position: relative;
    width: 790px;
    padding: 0 138px 20px 20px;
    margin: 0 auto 20px;
    border: 1px solid #d3d3d3;
    line-height: 32px;
    font-size: 14px;
    color: #888;
    background: #fff;
}
.new-shop .menu {
    width: 790px;
    height: 45px;
    margin-bottom: 20px;
    line-height: 45px;
    border-bottom: 1px solid #d3d3d3;
}
.new-shop h2 {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    color: #333;
    *display: inline;
    *zoom: 1;
}
.new-shop .menu span {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: -5px;
    background-image: url(res/icon8.png);
    background-repeat: no-repeat;
    vertical-align: middle;
}
.new-shop .menu span.icon1 {
    background-position: 0 0;
}
.new-shop .menu span.icon2 {
    background-position: -30px 0;
}
.new-shop .menu span.icon3 {
    background-position: -58px 0;
}
.new-shop .menu span.icon4 {
    background-position: -86px 0;
}
.new-shop .icon-bid {
    position: absolute;
    top: 4px;
    right: 18px;
    width: 103px;
    height: 127px;
    background: url(res/icon-bid.png) no-repeat;
}
.new-shop.full .icon-bid {
    width: 102px;
    background: url(res/icon-full.png) no-repeat;
}
.new-shop.return .icon-bid {
    width: 102px;
    background: url(res/icon-return.png) no-repeat;
}
.new-shop .new-shop-l {
    float: left;
    width: 484px;
    border-right: 1px solid #d3d3d3;
}
.new-shop.full .new-shop-l, .new-shop.return .new-shop-l {
    border: none;
}
.new-shop .shop-items {
    float: left;
    width: 222px;
    margin-right: 20px;
}
.new-shop i {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: -2px;
    margin-left: 8px;
    background: url(res/icon9.png) no-repeat;
    vertical-align: middle;
    cursor: pointer;
}
.shop-items p {
    margin-bottom: 35px;
}
.shop-items p:first-child {
    margin-bottom: 10px;
}
.shop-items p strong {
    font-size: 36px;
    font-weight: bold;
}
.shop-items .c3 {
    color: #333;
}
.shop-items .progress {
    display: inline-block;
    width: 110px;
    margin-left: 7px;
    vertical-align: middle;
    *display: inline;
    *zoom: 1;
}
.new-shop .new-shop-r {
    float: left;
    width: 280px;
    margin: 0 0 0 25px;
}
.new-shop-r dt {
    float: left;
    width: 100px;
    margin-bottom: 20px;
}
.new-shop-r dd {
    float: left;
    width: 180px;
    margin-bottom: 20px;
    color: #333;
}
.new-shop-r dd select {
    width: 162px;
    height: 42px;
    line-height: 42px;
    border: 1px solid #d3d3d3;
    vertical-align: middle;
    margin-top: -5px;
}

.new-shop-r strong {
    font-size: 18px;
    font-weight: bold;
    color: #a1c700;
}
.new-shop-r .count {
    position: relative;
    width: 152px;
    height: 42px;
    padding-left: 10px;
    line-height: 42px;
    background: url(res/add-bg.gif) no-repeat;
}
.new-shop-r .count span {
    position: absolute;
    right: 0px;
    display: inline-block;
    width: 30px;
    height: 20px;
    cursor: pointer;
}
.new-shop-r .count span.add-btn {
    top: 0px;
}
.new-shop-r .count span.plus-btn {
    bottom: 0px;
}
.new-shop-r .count input {
    border: none;
    display: inline;
    width: 75%;
}
.new-shop-r .green-btn {
    margin-left: 100px;
}
.new-shop-info {
    margin-bottom: 0;
}
.new-shop-info .info {
    padding: 30px 90px;
    text-align: center;
}
.new-shop-info .green-btn {
    margin-top: 35px;
}
.new-shop-info table {
    width: 100%;
    text-align: left;
}
.new-shop-info td {
    padding: 12px 0;
    line-height: 20px;
    border-bottom: 1px solid #d3d3d3;
    font-size: 14px;
    color: #888;
}
.new-shop-info td.c3 {
    color: #333;
}
#s_city {
    float: right;
    margin-top: 2px;
    *margin-top: 0px;
    margin-top: 1px \9\0;
    *position: absolute;
    *right: 0;
}
.jsq {
    display: inline-block;
    width: 90px;
    height: 20px;
    line-height: 20px;
    padding-left: 30px;
    background: url(res/jsq.png) no-repeat left center;
    color: #0083be;
}
.wylc.c-4_{
    background: none;
}
.wylc.c-4_ table{
    background: #fff;
}
