body, body * {
    margin: 0;
    padding: 0;
}
body, html {
    font-size: 14px;
    color: #888;
    background-color: #efefef;
}
ul, li {
    list-style: none;
}
a {
    color: #888;
    text-decoration: none;
}
div {
    border-color: #d3d3d3 !important;
}
img {
    width: 100%;
}
table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
}
.d-hidden {
    display: none;
}
.hidden {
    visibility: hidden;
}
span.hidden {
    display: inline;
    visibility: hidden;
}
.clearfix {
    clear: both;
}
.tl{
    text-align: left !important;
}
/*进度条*/
.progress {
    width: 100%;
    min-width: 137px;
    line-height: 1em;
}
.progress .max {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 80%;
    height: 16px;
    float: left;
}
.progress .max div {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
}
.progress span {
    font-size: 14px;
    /*margin-left: 2%;*/
}
.progress .back {
    background-color: #e1e7c5;
}
.progress .max .front {
    background-color: #abcd04;
    width: 0;
}
/*end*/
.login, .nav, .bread {

    /*width: 1600px;*/

    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid;
}
.warp {
    width: 950px;
    margin: 0 auto;
}
.login .warp {
    height: 38px;
    line-height: 38px;
    text-align: right;
}
.nav {
    position: relative;
    height: 90px;
    background-color: #fff;
    z-index: 99;
}
.nav h1 {
    display: inline-block;
    width: 130px;
    height: 100%;
    line-height: 89px;
    background: url(res/logo.jpg) no-repeat center center;
    text-indent: -10000px;
    margin-right: 140px;
    float: left;
}
.nav .warp .link {
    /*height: 400px;*/
    font-size: 1.14em;
    text-align: center;
}
.nav .channel, .nav .menu {
    display: inline-block;
    *dispaly: inline;
    *zoom: 1;
    float: right;
    line-height: 85px;
    border-top: 5px solid #fff !important;
    padding: 0 0.5em;
    margin: 0 0.5em;
    font-weight: bold;
}
.nav .channel.current {
    border-color: #0085be !important;
    color: #0085be;
}
.nav .channel:hover {
    color: #0085be;
}
.nav .menu {
    position: relative;
    width: 135px;
    height: 90px;
    margin: 0;
    border-top: none !important;
}
.nav .menu a {
    display: block;
    width: 90%;
    line-height: 2.2em;
    margin: 0 auto;
    border-bottom: 1px dashed;
    font-weight: normal;
}
.nav .menu a.channel, .nav .menu a.list {
    line-height: 85px;
    border-bottom: none;
    font-weight: bold;
}
.nav .menu a.last {
    border: none;
}
.nav .menu a:hover {
    color: #0085be;
    font-weight: bold;
}
.nav .menu div {
    position: absolute;
    top: 90px;
    left: 0px;
    z-index: 999;
    width: 135px;
    background-color: #fff;
    border: 1px solid;
}
.see-more {
    font-size: 14px;
}
/*内页*/
.content {
    padding: 50px 0;
    background: #f9f9f9;
}
/*绿色按钮*/
.green-btn {
    display: inline-block;
    width: 162px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background: url(res/green-btn.png) no-repeat;
    text-align: center;
}
/*面包屑*/
.bread {
    height: 38px;
    line-height: 38px;
    background: #efefef;
}
.bread a, .bread a:hover {
    color: #333;
}
/*模块*/
.box {
    width: 948px;
    margin: 0 auto 20px;
    border: 1px solid #d3d3d3;
    border-top: 2px solid #1097d0 !important;
    background: #fff;
}
.box .menu {
    height: 60px;
    padding: 0 20px;
    line-height: 60px;
    border-bottom: 1px solid #d3d3d3;
    background: #f9f9f9;
}
.box .menu h2 {
    float: left;
    font-size: 20px;
    font-weight: normal;
    color: #0083be;
    font-family: Microsoft YaHei, "微软雅黑";
}
.box .menu a {
    float: right;
    margin-top: 20px;
}
.box .menu a.green-btn {
    margin-top: 8px;
}
.box .menu span {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #d3d3d3;
    color: #888;
}
/*底部*/
.footer {
    border-top: 1px solid #d3d3d3;
    height: 120px;
    background: #efefef;
}
/*分页*/
.page {
    margin: 30px 0;
    text-align: center;
}
.page a {
    display: inline-block;
    padding: 0 11px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #d3d3d3;
    vertical-align: middle;
}
.page a:hover, .page a.current {
    color: #fff;
    background: #1097d0;
}
.page input {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    border: 1px solid #d3d3d3;
    border-right: none;
    text-align: center;
    vertical-align: middle;
}
.meg {
    padding: 5px 10px;
    line-height: 20px;
    border: 1px solid #d3d3d3;
    background: #f8f8f8;
    color: #888;
}